<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KLapp Network</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/signup.css">
<<<<<<< HEAD
    <link rel="stylesheet" href="/css/partials.css">
=======
>>>>>>> 52a90eefe00608993dd98a38e41a105093b6b0d2
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <header>
        <div class='headerWrapper'>
<<<<<<< HEAD
            <div class='header_box'>
                <img src='/images/logoSimple.png'>
                <div class="header_icons">
                    <a href='/profile'><img src="/images/nav_profile.png"></a>
                    <a href="/search"><img src="/images/nav_friends.png"></a>
                    <a href="/feed"><img src="/images/nav_feed.png"></a>
                    <a href="/logout"><img src="/images/nav_logout.png"></a>
                </div>
=======
            <div class='headerBox'>
                <a href='/profile'><img src='/images/logoSimple.png'></a>
                <a href="/logout"><span>Log Out</span></a>
>>>>>>> 52a90eefe00608993dd98a38e41a105093b6b0d2
            </div>
        </div>
    </header>