<%- include('partials/headerNoAuth') -%>
    <div class="indexWrapper">
        <div class='mainIndexBox'>
            <img src='/images/logoWhite.png'>
            <span class='signInSpan'>Sign In to KLapp</span>
            <a href="/login" class='signInBtn'><span>Sign In</span></a>
            <span class="indexOr">or</span>
            <a href="/signup" class='signUpBtn'><span>Sign Up</span></a>
        </div>
    </div>
<%- include('partials/footer') -%>