<%- include('partials/header') -%>
    <div class="flexToCenter indexWrapper">
        <a href="/login" class="col-3 btn btn-primary"><span>Login</span></a>
        <a href="/signup" class="col-3 btn btn-primary"><span>Signup</span></a>
    </div>
<%- include('partials/footer') -%>