/**************************************/
/**************************************/
/**************  GENERAL  *************/
/**************************************/
/**************************************/
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-size: 62.5%;
    background-color: #141414;
    color: #F5F5F5;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
/**************************************/
/**************************************/
/************  FOR REUSE  *************/
/**************************************/
/**************************************/

/**************************************/
/**************************************/
/**************  HEADER  **************/
/**************************************/
/**************************************/
/***************  AUTH  ***************/
.authHeaderWrapper{
    height: 50px;
    display: flex;
    background-color: #222222;
}
.authHeaderBox{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.authHeaderBox img{
    height: 45px;
}
.authHeaderBox span{
    color: #F5F5F5;
    font-size: 1.3rem;
}
/************** NO AUTH  **************/
.noAuthHeaderWrapper{
    height: 50px;
    display: flex;
    background-color: #222222;
}
.noAuthHeaderBox{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.noAuthHeaderBox img{
    height: 45px;
}
.noAuthHeaderBox span{
    color: #F5F5F5;
    font-size: 1.3rem;
}
/**************************************/
/**************************************/
/**************  INDEX  ***************/
/**************************************/
/**************************************/
/* main wrapper for the page */
.indexWrapper{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
/* colored box with login/reg */
.mainIndexBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 340px;
    width: 300px;
    padding: 24px;
    background-color: #222222;
    border-radius: 15px;
}
/* Logo */
.mainIndexBox img{
    height: 60px;
    width: 60px;
    border-radius: 15px;
}
/* text after logo */
.mainIndexBox .signInSpan{
    font-size: 1.5rem;
    color: #F5F5F5;
}
/* button for login */
.signInBtn{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signInBtn span{
    font-size: 1.2rem;
}
/* breaker */
.indexOr{
    font-size: 1rem;
    opacity: 55%;
}
/* reg button */
.signUpBtn{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: #4c5699;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signUpBtn span{
    font-size: 1.2rem;
}
/**************************************/
/**************************************/
/**************  LOGIN  ***************/
/**************************************/
/**************************************/
.loginWrapper{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.mainLoginBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 340px;
    width: 300px;
    padding: 24px;
    background-color: #222222;
    border-radius: 15px;
}
/* Logo */
.mainLoginBox img{
    height: 60px;
    width: 60px;
    border-radius: 15px;
}
/* text after logo */
.mainLoginBox .logInSpan{
    font-size: 1.5rem;
    color: #F5F5F5;
}
/* button for login */
.mainLoginBox button{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Text boxes for email/password */
.mainLoginBox input{
    height: 40px;
    width: 240px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #333333;
}
.mainLoginBox input::placeholder{
    opacity: 0%;
}
.mainLoginBox input:focus{
    outline: none;
    border: 3px solid #4c5699;
}
/**************************************/
/**************************************/
/************  SIGN UP  ***************/
/**************************************/
/**************************************/
.signupWrapper{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.mainSignupBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 480px;
    width: 300px;
    padding: 24px;
    background-color: #222222;
    border-radius: 15px;
}
/* Logo */
.mainSignupBox img{
    height: 60px;
    width: 60px;
    border-radius: 15px;
}
/* text after logo */
.mainSignupBox .signupSpan{
    font-size: 1.5rem;
    color: #F5F5F5;
}
/* button for signUp */
.mainSignupBox button{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: #4c5699;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Text boxes for email/password */
.mainSignupBox input{
    height: 40px;
    width: 240px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #333333;
}
.mainSignupBox input::placeholder{
    opacity: 0%;
}
.mainSignupBox input:focus{
    outline: none;
    border: 3px solid #4c5699;
}
#emailHelp{
    font-size: 1.2rem;
    text-align: center;
}
/**************************************/
/**************************************/
/************  PROFILE  ***************/
/**************************************/
/**************************************/
/***********  PROFILE INFO ************/
.profileInfoWrapper{
    width: 90%;
    max-width: 600px;
    height: 200px;
    background-color: #222222;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}
.profilePictureWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.profilePictureWrapper img{
    max-width: 180%;
    max-height: 180%;
    object-fit: cover;
    object-position: center;
}
.profileTextWrapper{
    font-size: 1.2rem;
}
/************  ADD POST ***************/
.addPostWrapper{
    width: 90%;
    max-width: 600px;
    height: 200px;
    background-color: #222222;
    margin: 20px auto;
    display: flex;
    border-radius: 15px;
}
.addPostWrapper h2{
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}
.addPostWrapper form{
    text-align: center;
}
.addPostWrapper form div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.addPostWrapper input[type="text"]{
    width: 80%;
    max-width: 400px;
    height: 2rem;
    font-size: 1.2rem;
}
.addPostWrapper textarea{
    width: 80%;
    max-width: 400px;
    font-size: 1.2rem;
    resize: none;
    margin-top: 0.5rem;
}
.addPostWrapper form div{
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}
/************  MY POSTS  **************/
.myPostsWrapper{
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}
.myPostsImg{
    width: 100%;
    height: auto;
}
/*********  RETURN TO FEED ************/
.returnToFeed{
    width: 100%;
}
.returnToFeed span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.3rem;
    margin: 0 auto;
    text-align: center;
}
/**************************************/
/**************************************/
/**************  FEED  ****************/
/**************************************/
/**************************************/
.feedWrapper{
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}
.feedWrapper img{
    max-width: 100%;
    height: auto;
}
.feedPostTitle{
    font-size: 1.3rem;
}
.feedWrapper li{
    border: 1px solid black;
    margin: 1rem 0;
}
/**************************************/
/**************************************/
/**************  POST  ****************/
/**************************************/
/**************************************/
.postInfoWrapper{
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid black;
}
.postInfoWrapper img{
    max-width: 100%;
    height: auto;
}
.postInfoWrapper div{
    display: flex;
    justify-content: space-between;
}
/***********  ADD COMMENT  ************/
.addCommentWrapper{
    width: 80%;
    max-width: 400px;
    margin: 1rem auto;
}
/**********  LIST COMMENTS  ***********/
.commentListWrapper{
    width: 80%;
    max-width: 400px;
    margin: 1rem auto;
}
/************  POST BTNS  *************/
.postBtns{
    text-align: center;
}
.postBtns a{
    height: 35px;
    width: 100px;
    border: 1px solid black;
    font-size: 1.2rem;
}
