/**************************************/
/**************************************/
/**************  GENERAL  *************/
/**************************************/
/**************************************/
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-size: 62.5%;
    background-color: #141414;
    color: #F5F5F5;
    min-width: 300px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
/**************************************/
/**************************************/
/************  FOR REUSE  *************/
/**************************************/
/**************************************/

/**************************************/
/**************************************/
/**************  HEADER  **************/
/**************************************/
/**************************************/
/***************  AUTH  ***************/
.authHeaderWrapper{
    height: 50px;
    display: flex;
    background-color: #222222;
}
.authHeaderBox{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.authHeaderBox img{
    height: 45px;
}
.authHeaderBox span{
    color: #F5F5F5;
    font-size: 1.3rem;
}
/************** NO AUTH  **************/
.noAuthHeaderWrapper{
    height: 50px;
    display: flex;
    background-color: #222222;
}
.noAuthHeaderBox{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.noAuthHeaderBox img{
    height: 45px;
}
.noAuthHeaderBox span{
    color: #F5F5F5;
    font-size: 1.3rem;
}
/**************************************/
/**************************************/
/**************  INDEX  ***************/
/**************************************/
/**************************************/
/* main wrapper for the page */
.indexWrapper{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
/* colored box with login/reg */
.mainIndexBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 340px;
    width: 300px;
    padding: 24px;
    background-color: #222222;
    border-radius: 15px;
}
/* Logo */
.mainIndexBox img{
    height: 60px;
    width: 60px;
    border-radius: 15px;
}
/* text after logo */
.mainIndexBox .signInSpan{
    font-size: 1.5rem;
    color: #F5F5F5;
}
/* button for login */
.signInBtn{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signInBtn span{
    font-size: 1.2rem;
}
/* breaker */
.indexOr{
    font-size: 1rem;
    opacity: 55%;
}
/* reg button */
.signUpBtn{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: #4c5699;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signUpBtn span{
    font-size: 1.2rem;
}
/**************************************/
/**************************************/
/**************  LOGIN  ***************/
/**************************************/
/**************************************/
.loginWrapper{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.mainLoginBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 340px;
    width: 300px;
    padding: 24px;
    background-color: #222222;
    border-radius: 15px;
}
/* Logo */
.mainLoginBox img{
    height: 60px;
    width: 60px;
    border-radius: 15px;
}
/* text after logo */
.mainLoginBox .logInSpan{
    font-size: 1.5rem;
    color: #F5F5F5;
}
/* button for login */
.mainLoginBox button{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
/* Text boxes for email/password */
.mainLoginBox input{
    height: 40px;
    width: 240px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #333333;
    color: #F5F5F5;
}
.mainLoginBox input:focus{
    outline: none;
    border: 3px solid #4c5699;
}
/**************************************/
/**************************************/
/************  SIGN UP  ***************/
/**************************************/
/**************************************/
.signupWrapper{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.mainSignupBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 480px;
    width: 300px;
    padding: 24px;
    background-color: #222222;
    border-radius: 15px;
}
/* Logo */
.mainSignupBox img{
    height: 60px;
    width: 60px;
    border-radius: 15px;
}
/* text after logo */
.mainSignupBox .signupSpan{
    font-size: 1.5rem;
    color: #F5F5F5;
}
/* button for signUp */
.mainSignupBox button{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: #4c5699;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
/* Text boxes for email/password */
.mainSignupBox input{
    height: 40px;
    width: 240px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #333333;
    color: #F5F5F5;
}
.mainSignupBox input:focus{
    outline: none;
    border: 3px solid #4c5699;
}
#emailHelp{
    font-size: 1.2rem;
    text-align: center;
}
/**************************************/
/**************************************/
/************  PROFILE  ***************/
/**************************************/
/**************************************/
/***********  PROFILE INFO ************/
.profileInfoWrapper{
    width: 90%;
    max-width: 600px;
    height: 300px;
    background-color: #222222;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
}
/* Box with pfp and btns to change it */
.pfpDivider{
    height: 100%;
    width: 40%;
}
/* pfp css */
.pfpBox{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilePictureWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.profilePictureWrapper img{
    max-width: 140%;
    max-height: 140%;
    object-fit: cover;
    object-position: center;
}
/* btns to change pfp css */
.pfpBtns{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pfpBtns form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
/************  ADD PFP ****************/
#selectPicture{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.1rem;
}
#pfpUpload{
    height: 40px;
    width: 100px;
    opacity: 0;
    position: absolute;
}
#subPfp{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-image: url('/images/check.png');
    background-size: cover;
    background-repeat: no-repeat;
}
/* Box with text about profile */
.textDivider{
    height: 100%;
    width: 60%;
    padding: 45px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.2rem;
}
.profileInfoDivider{
    border-bottom: 1px solid #F5F5F5;
    height: 0px;
    width: 100%;
    opacity: 60%;
}
/************  FRIENDS ****************/
.friendsWrapper{
    width: 90%;
    max-width: 600px;
    padding: 25px;
    background-color: #222222;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.friendsWrapper h2{
    font-size: 1.1rem;
}
/* Box with list of friends */
.friendList{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
}
.friendBox{
    text-align: center;
}
.friendPicture{
    height: 120px;
    width: 120px;
    padding: 15px;
    border-radius: 50%;
}
#message{
    height: 40px;
    width: 140px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.1rem;
}
/************  ADD POST ***************/
.addPostWrapper{
    width: 90%;
    max-width: 600px;
    height: 350px;
    background-color: #222222;
    margin: 20px auto;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
.addPostWrapper form{
    padding: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.addPostWrapper form div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.addPostWrapper input[type="text"]{
    width: 80%;
    max-width: 400px;
    padding: 15px;
    height: 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: #333333;
    color: #F5F5F5;
}
.addPostWrapper input[type='text']:focus{
    outline: none;
    border: 3px solid #4c5699;
}
.addPostWrapper textarea{
    width: 80%;
    max-width: 400px;
    font-size: 1.2rem;
    padding: 15px;
    resize: none;
    margin-top: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: #333333;
    color: #F5F5F5;
}
.addPostWrapper textarea:focus{
    outline: none;
    border: 3px solid #4c5699;
}
#selectFile{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.addPostWrapper input[type='file']{
    height: 40px;
    width: 240px;
    opacity: 0;
    position: absolute;
}
/* button to send a new post */
.addPostWrapper button{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
/************  MY POSTS  **************/
.myPostsWrapper{
    width: 90%;
    max-width: 600px;
    background-color: #222222;
    margin: 20px auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.myPostsWrapper li{
    width: 90%;
    background-color: #333333;
    margin: 40px auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.myPostsImg{
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 15px;
}
/*********  RETURN TO FEED ************/
.returnToFeed{
    width: 100%;
}
.returnToFeed span{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 2rem auto;
    font-size: 1rem;
}
/**************************************/
/**************************************/
/**************  FEED  ****************/
/**************************************/
/**************************************/
.feedWrapper{
    width: 90%;
    max-width: 600px;
    padding: 15px;
    background-color: #222222;
    margin: 20px auto;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feedWrapper li{
    width: 90%;
    background-color: #333333;
    margin: 20px auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.feedWrapper img{
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 15px;
}
/**************************************/
/**************************************/
/**************  POST  ****************/
/**************************************/
/**************************************/
.postInfoWrapper{
    width: 90%;
    max-width: 600px;
    padding: 15px;
    background-color: #222222;
    margin: 20px auto;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.postImage{
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 15px;
}
/* wrapper for likes and delete div */
.likes_delete{
    width: 100%;
    background-color: #333333;
    margin: 10px auto;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.likeBtn{
    height: 32px;
    width: 32px;
    background-color: transparent;
    background-image: url('/images/like.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}
.likes_delete .likes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.likeCount{
    font-size: 1.1rem;
    color: #4c5699;
}
.trashBtn{
    height: 32px;
    width: 32px;
    background-color: transparent;
    background-image: url('/images/trash.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}
/* camtion under post (wrapper) */
.caption{
    width: 100%;
    background-color: #333333;
    margin: 10px auto;
    border-radius: 15px;
    padding: 15px;
    font-size: 1.3rem;
}
/* Wrapper for "add comment" */
.addCommentWrapper{
    width: 90%;
    max-width: 600px;
    padding: 15px;
    background-color: #222222;
    margin: 20px auto;
    border-radius: 15px;
}
.commentForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.commentForm textarea{
    width: 100%;
    font-size: 1.2rem;
    padding: 15px;
    resize: none;
    border: none;
    border-radius: 10px;
    background-color: #333333;
    color: #F5F5F5;
}
.commentForm textarea:focus{
    outline: none;
    border: 3px solid #4c5699;
}
.commentForm button{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1rem;
}
/* Wrapper for comment list */
.commentListWrapper{
    width: 90%;
    max-width: 600px;
    padding: 15px;
    background-color: #222222;
    margin: 10px auto;
    border-radius: 15px;
}
.commentListWrapper li{
    width: 100%;
    font-size: 1.2rem;
    padding: 15px;
    resize: none;
    border: none;
    border-radius: 10px;
    background-color: #333333;
    color: #F5F5F5;
    margin: 0.4rem 0;
}
.commentListWrapper li p:first-child{
    font-size: 1.2rem;
}
.commentListWrapper li .divider{
    width: 100%;
    border-bottom: 1px solid #F5F5F5;
    opacity: 70%;
    margin: 0.2rem 0;
}
.commentListWrapper li p:last-child{
    font-size: 1rem;
}
.likeCommentBox{
    display: flex;
    align-items: center;
    
}
/* return to feed/profile btns */
.postBtmBtns{
    height: 40px;
    width: 240px;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1rem;
    margin: 0.5rem auto;
}
/**************************************/
/**************************************/
/**************  CHAT  ****************/
/**************************************/
/**************************************/
.chatWrapper{
    width: 90%;
    max-width: 600px;
    padding: 15px;
    background-color: #222222;
    margin: 20px auto;
    display: flex;
    color: #F5F5F5;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.messagesWrapper{
    width: 90%;
    max-width: 600px;
    padding: 15px;
    background-color: #333333;
    margin: 20px auto;
    display: flex;
    color: #F5F5F5;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sent{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sent p{
    padding: 15px;
    background-color: #222222;
    color: #F5F5F5;
    border-radius: 15px;
}
.received{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.received p{
    padding: 15px;
    background-color: #222222;
    color: #F5F5F5;
    border-radius: 15px;
}

/* Footer CSS */
.footerDiv{
    height: 50px;
    width: 100%;
    background-color: #222222;
}