/**************************************/
/**************************************/
/**************  GENERAL  *************/
/**************************************/
/**************************************/
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-size: 62.5%;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: underline;
}
/**************************************/
/**************************************/
/************  FOR REUSE  *************/
/**************************************/
/**************************************/
.flexToCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
/**************************************/
/**************************************/
/**************  HEADER  **************/
/**************************************/
/**************************************/
header{
    height: 100px;
    width: 100vw;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.15);
    
}
header div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header span{
    font-size: 2rem;
}
header img{
    height: 64px;
    width: 64px;
}
/**************************************/
/**************************************/
/**************  INDEX   **************/
/**************************************/
/**************************************/
.indexWrapper{
    height: calc(100vh - 100px);
}
.indexWrapper span{
    font-size: 2rem;
    border: 2px solid black;
    transition-duration: 0.4s;
    padding: 15px;
    margin: 10px;
}
.indexWrapper span:hover{
    background-color: #555555;
    color: white;
}
a span{
    color: #555555;
    font-size: 24px;
}